/* Style the container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 280px;
  text-align: center; /* Add text-align:center to center the title */
}

/* Style the title */
.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  padding: 5px;
}

/* Style the button */
.button {
  background-color: #2196F3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
}
